body,
html {
  background-color: black;
}

/* animations */
@keyframes unfold {
  from {
    width: 50%;
  }

  to {
    width: 100%;
  }
}

.enter-unfold {
  animation: unfold 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.1s;
}

@keyframes enter_bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.enter-exit-bottom {
  animation: enter_bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes ease_in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.ease-in {
  animation: ease_in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.delayed {
  animation-delay: 1s;
}

/* preformatted code */

pre a {
  font-style: normal;
  font-weight: bold;
  color: #8888ff;
}

pre code {
  background: #44444444;
  color: #66bbff;
  border-color: #777777;
  padding: 3px 5px;
  border-radius: 0.2rem;
}

pre {
  white-space: pre-wrap;
}

.cls {
  color: #00eeee;
}

.op {
  color: #ccccff;
}

.var {
  color: #8888ff;
}

.str {
  color: #337733;
}

.bind,
.control {
  color: #aa55ff;
  font-weight: bold;
}

.comments {
  color: #555555;
}